.dockerignore
Dockerfile
.env
.git
.gitignore
.vs
.vscode
.idea
docker-compose*.yml
*.md
**/test-results/
*.testsettings
**/bin/
**/obj/
**/node_modules/
**/bower_components/
**/wwwroot/lib/
**/storage/
**/temp/
**/dist/
.DS_Store
*.sln.DotSettings.user
/wwwroot/dist