<nb-actions>
  <nb-action icon="home-outline"></nb-action>
  <nb-action icon="message-circle-outline" [badgeText]="messages ? messages.toString() : ''" badgeStatus="primary"></nb-action>
  <nb-action icon="clock-outline" badgeStatus="primary" badgePosition="top right"
             [badgeText]="countNewAssignments"
             nbTooltip="Новых работ на проверку" nbTooltipPlacement="bottom"
              [routerLink]="['student-assignments']">
  </nb-action>
  <nb-action icon="search-outline"></nb-action>
  <nb-action icon="edit-outline"></nb-action>
  <nb-action>{{authService.userIdentity.Email}}</nb-action>
  <nb-action (click)="authService.logout()" link>Выйти</nb-action>
</nb-actions>

